

body{
    text-align: center;
    font-family: "Consolas", "Helvetica", "Arial", sans-serif;
    margin-top: 300px;

}

#clock {
    font-weight: 300;
    font-size: 150px;
}

#color{
    font-weight: 300;
    font-size: 50px;
}